<!DOCTYPE html>
<html data-theme-mode="{{ desk_theme.lower() }}" data-theme="{{ desk_theme.lower() }}" dir={{ layout_direction }} lang="{{ lang }}">
	<head>
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#023f24;">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#023f24;">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#023f24;">
		<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
		<meta content="utf-8" http-equiv="encoding">
		<meta name="author" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,
			maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="white">
		<meta name="mobile-web-app-capable" content="yes">
		<title>NCS Ltd</title>
		<link rel="shortcut icon"
			href="{{ favicon or "/assets/frappe/images/frappe-favicon.svg" }}" type="image/x-icon">
		<link rel="icon"
			href="{{ favicon or "/assets/frappe/images/frappe-favicon.svg" }}" type="image/x-icon">
		
		{% for include in include_css -%}
		{{ include_style(include) }}
		{%- endfor -%}
		
		{%- block style %}
		<style>
			{% include "templates/includes/css/apps.css" %}
			{% include "templates/includes/css/global.css" %}
		</style>


		{% if colocated_css -%}
			<style>{{ colocated_css }}</style>
		{%- endif %}

	{%- endblock -%}
		
	</head>
	<body>
		{% include "public/icons/timeless/icons.svg" %}
		{% include "templates/includes/splash_screen.html" %}         
		<div class="main-section">
			<header></header>
			<div id="body"></div>
			<footer></footer>
		</div>
		<div id="build-events-overlay"></div>

		<script type="text/javascript">
			window._version_number = "{{ build_version }}";
			// browser support
			window.app = true;
			window.dev_server = {{ dev_server }};

			if (!window.frappe) window.frappe = {};
			frappe.boot = JSON.parse({{ boot }});
			frappe._messages = frappe.boot["__messages"];
			frappe.csrf_token = "{{ csrf_token }}";
		</script>

				<!--Start of Tawk.to Script-->
				<script type="text/javascript">
					var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
					(function(){
					var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
					s1.async=true;
					s1.src='https://embed.tawk.to/615d6bc925797d7a89029219/1fhaeq3vv';
					s1.charset='UTF-8';
					s1.setAttribute('crossorigin','*');
					s0.parentNode.insertBefore(s1,s0);
					})();
					</script>
			<!--End of Tawk.to Script-->

	{% for include in include_js %}
	{{ include_script(include) }}
	{% endfor %}

	{% include "templates/includes/app_analytics/google_analytics.html" %}
	{% include "templates/includes/app_analytics/mixpanel_analytics.html" %}

		{% for sound in (sounds or []) %}
		<audio preload="auto" id="sound-{{ sound.name }}" volume={{ sound.volume or 1 }}>
			<source src="{{ sound.src }}"></source>
		</audio>
		{% endfor %}
	</body>
</html>
